services:
  app:
    build:
      context: ./api-server
      dockerfile: Dockerfile
    container_name: api-server
    ports:
      - 3000:3000
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - code-files:/code-files
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CODE_FILES_PATH=/code-files
    networks:
      - backend

  worker:
    build:
      context: ./worker-service
      dockerfile: Dockerfile
    container_name: worker-service
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - code-files:/code-files
      - /var/run/docker.sock:/var/run/docker.sock # Mount host Docker socket
    environment:
      - CODE_FILES_PATH=/code-files
    networks:
      - backend

  mysql:
    image: mysql:8.4.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: Hello
    ports:
      - 3306:3306
    volumes:
      - ./.mysql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "mysql -uroot -ptest -e 'SELECT 1;' || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - backend

  redis:
    image: redis:8.2-alpine
    container_name: redis
    ports:
      - 6379:6379
    networks:
      - backend

volumes:
  code-files:
    name: "code-files"

networks:
  backend:
    name: backend
